<h1>About Page</h1>
<p>This app was created in Ruby on Rails by Tyler Brooks (<a href="https://twitter.com/tyler_brooks" target="_blank">@tyler_brooks</a>) using the <a href="https://onemonthrails.com/" target="_blank">One Month Rails</a> course.</p>
